@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

table, .form-check, .step {
    padding-top: 1.5rem;
}

.method-inputs-frequency {
    display:none;
}